@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;400;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=open_in_full&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Dm Sans, ui-sans-serif, system-ui;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

:root{
  --motion-default-timing: cubic-bezier(.165, .84, .44, 1);
  --motion-bounce: linear(0, 0.004, 0.016, 0.035, 0.063, 0.098, 0.141 13.6%, 0.25, 0.391, 0.563, 0.765,1, 0.891 40.9%, 0.848, 0.813, 0.785, 0.766, 0.754, 0.75, 0.754, 0.766, 0.785,0.813, 0.848, 0.891 68.2%, 1 72.7%, 0.973, 0.953, 0.941, 0.938, 0.941, 0.953,0.973, 1, 0.988, 0.984, 0.988, 1);
  --motion-spring-smooth: linear(0, 0.001 0.44%, 0.0045 0.94%, 0.0195 2.03%, 0.0446 3.19%, 0.0811 4.5%, 0.1598 6.82%, 0.3685 12.34%, 0.4693 15.17%, 0.5663, 0.6498 21.27%, 0.7215 24.39%, 0.7532 25.98%, 0.7829 27.65%, 0.8105, 0.8349 31.14%, 0.8573 32.95%, 0.8776 34.84%, 0.8964 36.87%, 0.9136 39.05%, 0.929 41.37%, 0.9421 43.77%, 0.9537 46.38%, 0.9636 49.14%, 0.9789 55.31%, 0.9888 62.35%, 0.9949 71.06%, 0.9982 82.52%, 0.9997 99.94%);
  --motion-spring-snappy: linear(0, 0.0014, 0.0053 1.02%, 0.0126, 0.0227 2.18%, 0.0517 3.41%, 0.094 4.79%, 0.1865 7.26%, 0.4182 12.77%, 0.5246 15.46%, 0.6249, 0.7112, 0.7831 23.95%, 0.8146 25.4%, 0.844, 0.8699 28.45%, 0.8935, 0.9139 31.64%, 0.932, 0.9473, 0.9601 36.65%, 0.9714 38.47%, 0.9808 40.35%, 0.9948 44.49%, 1.0031 49.43%, 1.0057 53.35%, 1.0063 58.14%, 1.0014 80.78%, 1.0001 99.94%);
  --motion-spring-bouncy: linear(0, 0.0018, 0.0069, 0.0151 1.74%, 0.0277 2.4%, 0.062 3.7%, 0.1115 5.15%, 0.2211 7.77%, 0.4778 13.21%, 0.5912 15.75%, 0.6987 18.44%, 0.7862 20.98%, 0.861 23.59%, 0.8926, 0.9205, 0.945 27.51%, 0.9671 28.89%, 0.9868, 1.003 31.79%, 1.0224 34.11%, 1.0358 36.58%, 1.0436 39.27%, 1.046 42.31%, 1.0446 44.71%, 1.0406 47.47%, 1.0118 61.84%, 1.0027 69.53%, 0.9981 80.49%, 0.9991 99.94%);
  --motion-spring-bouncier: linear(0, 0.0023, 0.0088, 0.0194 1.59%, 0.035 2.17%, 0.078 3.33%, 0.1415 4.64%, 0.2054 5.75%, 0.2821 6.95%, 0.5912 11.45%, 0.7205 13.43%, 0.8393 15.45%, 0.936 17.39%, 0.9778, 1.015, 1.0477, 1.0759, 1.0998 22.22%, 1.1203, 1.1364, 1.1484 25.26%, 1.1586 26.61%, 1.1629 28.06%, 1.1613 29.56%, 1.1537 31.2%, 1.1434 32.6%, 1.1288 34.19%, 1.0508 41.29%, 1.0174 44.87%, 1.0025 46.89%, 0.9911 48.87%, 0.9826 50.9%, 0.9769 53.03%, 0.9735 56.02%, 0.9748 59.45%, 0.9964 72.64%, 1.0031 79.69%, 1.0042 86.83%, 1.0008 99.97%);
  --motion-spring-bounciest: linear(0, 0.0032, 0.0131, 0.0294, 0.0524, 0.0824, 0.1192 1.54%, 0.2134 2.11%, 0.3102 2.59%, 0.4297 3.13%, 0.8732 4.95%, 1.0373, 1.1827 6.36%, 1.2972 7.01%, 1.3444, 1.3859, 1.4215, 1.4504, 1.4735, 1.4908, 1.5024, 1.5084 9.5%, 1.5091, 1.5061, 1.4993, 1.4886, 1.4745, 1.4565 11.11%, 1.4082 11.7%, 1.3585 12.2%, 1.295 12.77%, 1.0623 14.64%, 0.9773, 0.9031 16.08%, 0.8449 16.73%, 0.8014, 0.7701 17.95%, 0.7587, 0.7501, 0.7443, 0.7412 19.16%, 0.7421 19.68%, 0.7508 20.21%, 0.7672 20.77%, 0.7917 21.37%, 0.8169 21.87%, 0.8492 22.43%, 0.9681 24.32%, 1.0114, 1.0492 25.75%, 1.0789 26.41%, 1.1008, 1.1167, 1.1271, 1.1317 28.81%, 1.1314, 1.1271 29.87%, 1.1189 30.43%, 1.1063 31.03%, 1.0769 32.11%, 0.9941 34.72%, 0.9748 35.43%, 0.9597 36.09%, 0.9487, 0.9407, 0.9355, 0.933 38.46%, 0.9344 39.38%, 0.9421 40.38%, 0.9566 41.5%, 0.9989 44.12%, 1.0161 45.37%, 1.029 46.75%, 1.0341 48.1%, 1.0335 49.04%, 1.0295 50.05%, 1.0221 51.18%, 0.992 55.02%, 0.9854 56.38%, 0.9827 57.72%, 0.985 59.73%, 1.004 64.67%, 1.0088 67.34%, 1.0076 69.42%, 0.9981 74.28%, 0.9956 76.85%, 0.9961 79.06%, 1.0023 86.46%, 0.999 95.22%, 0.9994 100%);
}

*{
  --motion-origin-scale-x: 100%;
  --motion-origin-scale-y: 100%;
  --motion-origin-translate-x: 0%;
  --motion-origin-translate-y: 0%;
  --motion-origin-rotate: 0deg;
  --motion-origin-blur: 0px;
  --motion-origin-grayscale: 0%;
  --motion-origin-opacity: 100%;
  --motion-origin-background-color: ;
  --motion-origin-text-color: ;
  --motion-end-scale-x: 100%;
  --motion-end-scale-y: 100%;
  --motion-end-translate-x: 0%;
  --motion-end-translate-y: 0%;
  --motion-end-rotate: 0deg;
  --motion-end-blur: 0px;
  --motion-end-grayscale: 0%;
  --motion-end-opacity: 100%;
  --motion-end-background-color: ;
  --motion-end-text-color: ;
  --motion-loop-scale-x: 100%;
  --motion-loop-scale-y: 100%;
  --motion-loop-translate-x: 0%;
  --motion-loop-translate-y: 0%;
  --motion-loop-rotate: 0deg;
  --motion-loop-blur: 0px;
  --motion-loop-grayscale: 0%;
  --motion-loop-opacity: 100%;
  --motion-loop-background-color: ;
  --motion-loop-text-color: ;
  --motion-duration: 700ms;
  --motion-timing: var(--motion-default-timing);
  --motion-perceptual-duration-multiplier: 1;
  --motion-delay: 0ms;
  --motion-loop-count: infinite;
  --motion-scale-duration: var(--motion-duration);
  --motion-scale-timing: var(--motion-timing);
  --motion-scale-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-scale-delay: var(--motion-delay);
  --motion-scale-loop-count: var(--motion-loop-count);
  --motion-translate-duration: var(--motion-duration);
  --motion-translate-timing: var(--motion-timing);
  --motion-translate-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-translate-delay: var(--motion-delay);
  --motion-translate-loop-count: var(--motion-loop-count);
  --motion-rotate-duration: var(--motion-duration);
  --motion-rotate-timing: var(--motion-timing);
  --motion-rotate-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-rotate-delay: var(--motion-delay);
  --motion-rotate-loop-count: var(--motion-loop-count);
  --motion-filter-duration: var(--motion-duration);
  --motion-filter-timing: var(--motion-timing);
  --motion-filter-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-filter-delay: var(--motion-delay);
  --motion-filter-loop-count: var(--motion-loop-count);
  --motion-opacity-duration: var(--motion-duration);
  --motion-opacity-timing: var(--motion-timing);
  --motion-opacity-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-opacity-delay: var(--motion-delay);
  --motion-opacity-loop-count: var(--motion-loop-count);
  --motion-background-color-duration: var(--motion-duration);
  --motion-background-color-timing: var(--motion-timing);
  --motion-background-color-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-background-color-delay: var(--motion-delay);
  --motion-background-color-loop-count: var(--motion-loop-count);
  --motion-text-color-duration: var(--motion-duration);
  --motion-text-color-timing: var(--motion-timing);
  --motion-text-color-perceptual-duration-multiplier: var(--motion-perceptual-duration-multiplier);
  --motion-text-color-delay: var(--motion-delay);
  --motion-text-color-loop-count: var(--motion-loop-count);
  --motion-scale-in-animation: none;
  --motion-translate-in-animation: none;
  --motion-rotate-in-animation: none;
  --motion-filter-in-animation: none;
  --motion-opacity-in-animation: none;
  --motion-background-color-in-animation: none;
  --motion-text-color-in-animation: none;
  --motion-scale-out-animation: none;
  --motion-translate-out-animation: none;
  --motion-rotate-out-animation: none;
  --motion-filter-out-animation: none;
  --motion-opacity-out-animation: none;
  --motion-background-color-out-animation: none;
  --motion-text-color-out-animation: none;
  --motion-scale-loop-animation: none;
  --motion-translate-loop-animation: none;
  --motion-rotate-loop-animation: none;
  --motion-filter-loop-animation: none;
  --motion-opacity-loop-animation: none;
  --motion-background-color-loop-animation: none;
  --motion-text-color-loop-animation: none;
  --motion-all-enter-animations: var(--motion-scale-in-animation), var(--motion-translate-in-animation), var(--motion-rotate-in-animation), var(--motion-filter-in-animation), var(--motion-opacity-in-animation), var(--motion-background-color-in-animation), var(--motion-text-color-in-animation);
  --motion-all-exit-animations: var(--motion-scale-out-animation), var(--motion-translate-out-animation), var(--motion-rotate-out-animation), var(--motion-filter-out-animation), var(--motion-opacity-out-animation), var(--motion-background-color-out-animation), var(--motion-text-color-out-animation);
  --motion-all-loop-animations: var(--motion-scale-loop-animation), var(--motion-translate-loop-animation), var(--motion-rotate-loop-animation), var(--motion-filter-loop-animation), var(--motion-opacity-loop-animation), var(--motion-background-color-loop-animation), var(--motion-text-color-loop-animation);
  --motion-all-loop-and-enter-animations: var(--motion-all-loop-animations), var(--motion-all-enter-animations);
}

@media screen and (prefers-reduced-motion: no-preference){
  @keyframes motion-scale-in{
    0%{
      scale: var(--motion-origin-scale-x) var(--motion-origin-scale-y);
    }

    100%{
      scale: 1 1;
    }
  }

  @keyframes motion-scale-out{
    0%{
      scale: 1 1;
    }

    100%{
      scale: var(--motion-end-scale-x) var(--motion-end-scale-y);
    }
  }

  @keyframes motion-scale-loop-mirror{
    0%, 100%{
      scale: 1 1;
    }

    50%{
      scale: var(--motion-loop-scale-x) var(--motion-loop-scale-y);
    }
  }

  @keyframes motion-scale-loop-reset{
    0%{
      scale: 1 1;
    }

    100%{
      scale: var(--motion-loop-scale-x) var(--motion-loop-scale-y);
    }
  }

  @keyframes motion-translate-in{
    0%{
      translate: var(--motion-origin-translate-x) var(--motion-origin-translate-y);
    }

    100%{
      translate: 0 0;
    }
  }

  @keyframes motion-translate-out{
    0%{
      translate: 0 0;
    }

    100%{
      translate: var(--motion-end-translate-x) var(--motion-end-translate-y);
    }
  }

  @keyframes motion-translate-loop-mirror{
    0%, 100%{
      translate: 0 0;
    }

    50%{
      translate: var(--motion-loop-translate-x) var(--motion-loop-translate-y);
    }
  }

  @keyframes motion-translate-loop-reset{
    0%{
      translate: 0 0;
    }

    100%{
      translate: var(--motion-loop-translate-x) var(--motion-loop-translate-y);
    }
  }

  @keyframes motion-rotate-in{
    0%{
      rotate: var(--motion-origin-rotate);
    }

    100%{
      rotate: 0;
    }
  }

  @keyframes motion-rotate-out{
    0%{
      rotate: 0;
    }

    100%{
      rotate: var(--motion-end-rotate);
    }
  }

  @keyframes motion-rotate-loop-mirror{
    0%, 100%{
      rotate: 0deg;
    }

    50%{
      rotate: var(--motion-loop-rotate);
    }
  }

  @keyframes motion-rotate-loop-reset{
    0%{
    }

    100%{
      rotate: var(--motion-loop-rotate);
    }
  }
}

@keyframes motion-filter-in{
  0%{
    filter: blur(var(--motion-origin-blur)) grayscale(var(--motion-origin-grayscale));
  }

  100%{
    filter: blur(0) grayscale(0);
  }
}

@keyframes motion-filter-out{
  0%{
    filter: blur(0) grayscale(0);
  }

  100%{
    filter: blur(var(--motion-end-blur)) grayscale(var(--motion-end-grayscale));
  }
}

@keyframes motion-filter-loop-mirror{
  0%, 100%{
    filter: blur(0) grayscale(0);
  }

  50%{
    filter: blur(var(--motion-loop-blur)) grayscale(var(--motion-loop-grayscale));
  }
}

@keyframes motion-filter-loop-reset{
  0%{
    filter: blur(0) grayscale(0);
  }

  100%{
    filter: blur(var(--motion-loop-blur)) grayscale(var(--motion-loop-grayscale));
  }
}

@keyframes motion-opacity-in{
  0%{
    opacity: var(--motion-origin-opacity);
  }
}

@keyframes motion-opacity-out{
  100%{
    opacity: var(--motion-end-opacity);
  }
}

@keyframes motion-opacity-loop-mirror{
  0%, 100%{
  }

  50%{
    opacity: var(--motion-loop-opacity);
  }
}

@keyframes motion-opacity-loop-reset{
  0%{
  }

  100%{
    opacity: var(--motion-loop-opacity);
  }
}

@keyframes motion-background-color-in{
  0%{
    background-color: var(--motion-origin-background-color);
  }
}

@keyframes motion-background-color-out{
  100%{
    background-color: var(--motion-end-background-color);
  }
}

@keyframes motion-background-color-loop-mirror{
  0%, 100%{
  }

  50%{
    background-color: var(--motion-loop-background-color);
  }
}

@keyframes motion-background-color-loop-reset{
  0%{
  }

  100%{
    background-color: var(--motion-loop-background-color);
  }
}

@keyframes motion-text-color-in{
  0%{
    color: var(--motion-origin-text-color);
  }
}

@keyframes motion-text-color-out{
  100%{
    color: var(--motion-end-text-color);
  }
}

@keyframes motion-text-color-loop-mirror{
  0%, 100%{
  }

  50%{
    color: var(--motion-loop-text-color);
  }
}

@keyframes motion-text-color-loop-reset{
  0%{
  }

  100%{
    color: var(--motion-loop-text-color);
  }
}

@keyframes RomboConfettiPop{
  0%{
    opacity: 0;
    transform: scale(1);
  }

  33%{
    opacity: 1;
    transform: scale(1.15);
  }

  50%{
    transform: scale(0.975);
  }

  65%{
    transform: scale(1.025);
  }

  80%{
    transform: scale(0.99);
  }

  87%{
    transform: scale(1.01);
  }

  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes topfetti{
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50%{
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100%{
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomfetti{
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,70% -10%, 70% 0%;
  }

  50%{
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100%{
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.motion-preset-spin{
  --motion-loop-rotate: 360deg;
  --motion-timing: linear;
  --motion-rotate-loop-animation: motion-rotate-loop-reset calc(var(--motion-rotate-duration) * var(--motion-rotate-perceptual-duration-multiplier)) var(--motion-rotate-timing) var(--motion-rotate-delay) both var(--motion-rotate-loop-count);
  animation: var(--motion-all-loop-and-enter-animations);
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.right-5{
  right: 1.25rem;
}

.top-0{
  top: 0px;
}

.top-5{
  top: 1.25rem;
}

.z-10{
  z-index: 10;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.contents{
  display: contents;
}

.hidden{
  display: none;
}

.aspect-square{
  aspect-ratio: 1 / 1;
}

.h-full{
  height: 100%;
}

.h-screen{
  height: 100vh;
}

.w-full{
  width: 100%;
}

.w-screen{
  width: 100vw;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-4{
  gap: 1rem;
}

.overflow-clip{
  overflow: clip;
}

.rounded-lg{
  border-radius: 0.5rem;
}

.bg-white\/20{
  background-color: rgb(255 255 255 / 0.2);
}

.bg-gradient-to-b{
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.from-blue-700{
  --tw-gradient-from: #1d4ed8 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(29 78 216 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-blue-200{
  --tw-gradient-to: #bfdbfe var(--tw-gradient-to-position);
}

.p-4{
  padding: 1rem;
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

:root {
  font-size: 16px;
}

@media (prefers-color-scheme: dark){
  :root{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
  }
}

.grid-auto-center {
  grid-template-rows: auto 1fr auto;
}

.card {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(255 255 255 / 0.5);
  padding: 2.5rem;
}

@media (prefers-color-scheme: dark){
  .card{
    background-color: rgb(0 0 0 / 0.5);
  }
}

.board {
  display: grid;
  width: calc((100vh - 300px) * 0.37);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
  @media (orientation: landscape) {
    width: 100%;

    grid-template-rows: auto;

    grid-template-columns: repeat(8, 1fr);
  }
  .board-row {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    @media (orientation: landscape) {
      grid-template-columns: auto;

      grid-template-rows: repeat(3, 1fr);
    }
  }
  .square {
    display: flex;
    align-items: start;
    padding: 10px;
    flex-flow: column;
    justify-content: center;
    aspect-ratio: 1
  }
  .square{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .square{
    font-weight: 800;
  }
  .square{
    border-radius: 0.5rem;
  }
  @media (min-width: 1280px){
    .square{
      border-radius: 1rem;
    }
  }
  .square {
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:not(.empty){
      background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    }
    &:not(.empty){
      --tw-gradient-from: #16a34a var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(22 163 74 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    &:not(.empty){
      --tw-gradient-to: #14532d var(--tw-gradient-to-position);
    }
    &:not(.empty) {
      &:not([disabled]) {
        filter: brightness(2);
      }
      &.battle{
        --tw-gradient-from: #ef4444 var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(239 68 68 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      }
      &.battle{
        --tw-gradient-to: #7f1d1d var(--tw-gradient-to-position);
      }
      &.rosette{
        --tw-gradient-from: #eab308 var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(234 179 8 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
      }
      &.rosette{
        --tw-gradient-to: #166534 var(--tw-gradient-to-position);
      }
      &.disabled {
        filter: brightness(0.8);
        &.end {
          /* opacity: 0; */
        }
      }
    }
    &.empty:not(.disabled){
      background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
    }
    &.empty:not(.disabled){
      --tw-gradient-from: #22c55e var(--tw-gradient-from-position);
      --tw-gradient-to: rgb(34 197 94 / 0) var(--tw-gradient-to-position);
      --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    }
    &.empty:not(.disabled){
      --tw-gradient-to: #3f6212 var(--tw-gradient-to-position);
    }
    &.empty:not(.disabled) {
      filter: brightness(2);
    }
  }
}

.puck {
  top: 0;
  left: 0;
  aspect-ratio: 1;
  display: block;
  background-image: conic-gradient(blue, aqua);
  border-radius: 100%;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 0.25rem solid white;
  &.offset {
    margin-right: -20px;
  }
  &.opponent {
    background-image: conic-gradient(red, orange);
  }
  &:not(.scored)[disabled] {
    filter: grayscale();
    border-color: grey;
  }
  &:not(.scored):not([disabled]){
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  &:not(.scored):not([disabled]) {
    &:hover {
      border-width: 0.5rem;
    }
    &:hover{
      --tw-border-opacity: 1;
      border-color: rgb(253 224 71 / var(--tw-border-opacity, 1));
    }
    &:hover{
      --tw-shadow-color: #fde047;
      --tw-shadow: var(--tw-shadow-colored);
    }
    &:hover {
      --tw-shadow-colored: 0px 0px 20px 5px var(--tw-shadow-color);
    }
  }
}

.card > .puck {
  /* width: 50px; */
}

@media (min-width: 1280px){
  .xl\:max-w-screen-xl{
    max-width: 1280px;
  }
}

@media (prefers-color-scheme: dark){
  .dark\:to-blue-900{
    --tw-gradient-to: #1e3a8a var(--tw-gradient-to-position);
  }
}
